body {
    background-color: #393e46;
    color: #dee3e2;
    font-family: 'Roboto';
}
select {
    background-color: #dee3e2;
    border: 1px solid white;
}
input {
    background-color: #dee3e2;
    border: 1px solid white;
}
input.short {
    width: 70px;
}

td {
    width: auto;
}
td.min {
    width: 1%;
    white-space: nowrap;
}
td.max input {
    width: 100%;
}

canvas.left {
    float: left;
    display: block;
}
canvas.right {
    border-left: 2px solid #dee3e2;
    display: block;
}

#ui:focus {
    outline-color: rgba(20, 20, 20, 0);
}
#uiBox {
}
#tradingViewBox {
    /* width: 1002px; */
    margin-top: 8px;
    padding-top: 4px;
}
#tradingViewBox div {
    border-top: 2px solid #dee3e2;
}
#tradingViewBox div:first-child {
    border-top: 0;
}

#settingsBox {
    margin-top: 10px;
    padding-top: 6px;
    width: 1002px;
    border-top: 2px solid #dee3e2;
}

svg {
    position: absolute;
    /* dominant-baseline: hanging; */
}
svg text{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

.dialog {
    position: fixed;
    z-index: 10000;
    border: 2px solid #dee3e2;
    background-color: hsla(0, 0%, 21%, 0.8);
    border-radius: 2pt;
    width: 400px;
    /* height: 172px; */
}
.dialog div {
    width: 400px;
    height: 100%;
    overflow-y: auto;
    margin: 0 auto;
}

tr.separator td {
    border-bottom: 1px solid #dee3e2;
}

.dialogSettings {
    left: 300px;
    top: 100px;
}
.dialogSettings table {
    width: 100%;
    font-size: 12px;
}
.dialogSettings table td {
    /* border-bottom: 1px solid #dee3e2; */
    padding: 4px 8px 4px 6px;
}
.dialogSettings table input {
    width: 100%;
}
.dialogSettings table td:first-child {
    width: 25%;

}
.dialogSettings table td:last-child {
    width: 75%;
}

.dialogPick table td:nth-child(2) {
    border-bottom: 1px solid #dee3e2;
    padding-top: 2px;
    padding-bottom: 5px;
    width: 140px;
    text-align: center;
}
.dialogPick table td:first-child {
    width: 130px;
}
.dialogPick table td:last-child {
    width: 130px;
}
.dialogPick table tr:hover td {
    background-color: rgba(20, 20, 20, 0.5);
}
.dialogPick table tr:last-child td:nth-child(2) {
    border-bottom: 0px solid black;
    padding-top: 1px;
    padding-bottom: 4px;
}

.hide {
    display: none;
}